RMS_CSW_API_BASE=https://computerstudienwerkstatt.de/api/v1
RMS_IMAP_HOST=rigel.uberspace.de
RMS_IMAP_PASSWORD=
RMS_IMAP_PORT=143
RMS_IMAP_USER=info@computerstudienwerkstatt.de
RMS_RANDOM_TOKEN=true
RMS_SMTP_FROM=info@computerstudienwerkstatt.de
RMS_SMTP_HOST=rigel.uberspace.de
RMS_SMTP_PASSWORD=
RMS_SMTP_PORT=587
RMS_SMTP_USER=info@computerstudienwerkstatt.de
DATABASE_URL=postgres://postgres:@postgres:5432/rms4csw
RMS_SSH_DOOR_HOST=192.168.0.107
RMS_SSH_DOOR_PASSWORD=
RMS_SSH_DOOR_USER=pi
RMS_SSH_FINGER_PRINT=
