<div class="main-content">

    <h2 class="md-display-2" style="margin-top: 0;">
        Gerät reservieren
    </h2>

    <form layout="column" name="createController.createForm" class="medium-form">
        <md-datepicker flex ng-model="createController.startDate" md-placeholder="Datum"
                       class="wide-datepicker" ng-disabled="createController.deviceSelection" name="datePicker" required>
        </md-datepicker>
        <div layout="row" style="margin-top: 20px;">
            <md-input-container flex="50">
                <label>
                    Startzeit
                </label>
                <input name="startTime" ng-model="createController.startTime" placeholder="12:00"
                       ng-disabled="createController.deviceSelection" validate="createController.validateTimeInput"
                       required>
                <div ng-messages="createController.createForm.startTime.$error">
                    <div ng-message="validTime">
                        Bitte gib eine mögliche Zeit an (Format hh:mm)
                    </div>
                    <div ng-message="required">
                        Bitte gib eine Startzeit an
                    </div>
                </div>

            </md-input-container>

            <md-input-container flex="50">
                <label>
                    Endzeit
                </label>
                <input name="endTime" ng-model="createController.endTime" placeholder="13:00"
                       ng-disabled="createController.deviceSelection" validate="createController.validateTimeInput"
                       required>
                <div ng-messages="createController.createForm.endTime.$error">
                    <div ng-message="validTime">
                        Bitte gib eine mögliche Zeit an (Format hh:mm)
                    </div>
                    <div ng-message="required">
                        Bitte gib eine Endzeit an
                    </div>
                </div>

            </md-input-container>
        </div>
        <div style="color:red;">
            <div ng-if="!createController.timespanIsValid()">
                Die Startzeit muss vor der Endzeit liegen
            </div>
            <div ng-if="!createController.startTimeIsInFuture()">
                Der Startzeitpunkt muss in der Zukunft liegen
            </div>

        </div>
        <md-input-container flex="50">
            <label>
                Gerätekategorien
            </label>
            <md-select ng-model="createController.selectedDeviceCategory" ng-model-options="{trackBy : '$value.id'}"
                       ng-disabled="createController.deviceSelection" name="deviceCategorySelector"
                       required>
                <md-option ng-repeat="deviceCategory in createController.deviceCategories" ng-value="deviceCategory">
                    {{deviceCategory.name}}</md-option>
            </md-select>

        </md-input-container>

        <md-button ng-class="{'md-accent': !createController.deviceSelection}"
                   ng-click="createController.activateDeviceSelection()" class="md-raised"
                   ng-disabled="!createController.isFormOneValid() && !createController.deviceSelection">
            {{createController.deviceSelection ? "Zurück" : "Weiter" }}</md-button>

        <md-input-container flex="50">
            <label>
                Geräte
            </label>
            <md-select ng-model="createController.selectedDevice" ng-model-options="{trackBy : '$value.id'}"
                       ng-disabled="!createController.deviceSelection" name="deviceSelector" required>
                <md-option ng-repeat="device in createController.devices" ng-value="device">{{device.name}}</md-option>

            </md-select>

        </md-input-container>

        <md-button class="md-accent md-raised" ng-disabled="!createController.deviceSelection ||
          !createController.isFormTwoValid() || !createController.isFormOneValid()" ng-click="createController.submit()">
            Reservieren</md-button>
    </form>



</div>