<div class="main-content card-container" layout="column" flex>

    <device-reservation
          ng-repeat="reservation in deviceListController.reservations | filter: deviceListController.reservationFilter | orderBy:'timeSpan.beginning'"
          reservation="reservation"
          on-delete="deviceListController.deviceReservationDeleted(reservation)">
    </device-reservation>

    <div ng-if="(deviceListController.reservations | filter: deviceListController.reservationFilter).length == 0" class="greyed-out md-subhead" layout="column"
         layout-align="center center" flex>
        Du hast aktuell keine Geräte reserviert
    </div>

</div>

<md-button class="md-fab md-fab-bottom-right md-raised md-accent" ui-sref="deviceReservationCreate">
    <md-tooltip>
    Gerät reservieren
    </md-tooltip>
    <md-icon>add</md-icon>
</md-button>

<md-fab-speed-dial ng-if="nav.isLocal()" md-direction="up" class="md-scale md-fab-bottom-right">
    <md-fab-trigger>
        <md-button aria-label="Hauptaktionen" class="md-fab md-accent">
            <md-icon>add</md-icon>
        </md-button>
    </md-fab-trigger>
    <md-fab-actions>
        <md-button ui-sref="deviceReservationCreate" aria-label="Gerät reservieren" class="md-fab md-raised md-mini">
            <md-icon>devices</md-icon>
            <md-tooltip md-direction="left">
                Gerät reservieren
            </md-tooltip>
        </md-button>
        <md-button ui-sref="deviceReservationAdHoc" aria-label="Gerät jetzt ausleihen" class="md-fab md-raised md-mini">
            <md-icon>queue_play_next</md-icon>
            <md-tooltip md-direction="left">
                Gerät jetzt ausleihen
            </md-tooltip>
        </md-button>
    </md-fab-actions>
</md-fab-speed-dial>

<md-button ng-if="!nav.isLocal()" ui-sref="deviceReservationCreate" class="md-fab md-fab-bottom-right md-accent md-raised">
    <md-icon>
        add
    </md-icon>
    <md-tooltip md-direction="left">
        Gerät reservieren
    </md-tooltip>
</md-button>