<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">Passwort ändern</div>
    </md-toolbar>

    <md-dialog-content class="md-dialog-content">
        <form layout="column" name="passwordModal.changeForm">

            <md-input-container>
                <label>
                    Altes Passwort
                </label>
                <input ng-minlength="6" type="password" name="oldPassword" ng-model="passwordModal.oldPassword" required>
                <div ng-messages="passwordModal.changeForm.oldPassword.$error">
                    <div ng-message="required">
                        Bitte gib dein altes Passwort an
                    </div>
                </div>
            </md-input-container>
            <div layout="row">
                <md-input-container flex="50">
                    <label>
                        Neues Passwort
                    </label>
                    <input ng-minlength="6" type="password" name="password" ng-model="passwordModal.password" required>
                    <div ng-messages="passwordModal.changeForm.password.$error">
                        <div ng-message="required">
                            Bitte gib ein neues Passwort an
                        </div>
                        <div ng-message="minlength">
                            Das Passwort muss mindestens 6 Zeichen lang sein
                        </div>
                    </div>
                </md-input-container>
                <md-input-container flex="50">
                    <label>
                        Wiederholung
                    </label>
                    <input type="password" name="passwordRepeat" ng-model="passwordModal.passwordRepeat" validate="passwordModal.validatePasswordRepeat" revalidate-on-change="passwordModal.password" required>
                    <div ng-messages="passwordModal.changeForm.passwordRepeat.$error">
                        <div ng-message="required">
                            Bitte wiederhole das neue Passwort
                        </div>
                        <div ng-message="passwordMatch">
                            Die Passwortwiederholung muss mit dem Passwort übereinstimmen
                        </div>
                    </div>
                </md-input-container>
            </div>
        </form>
    </md-dialog-content>

    <md-dialog-actions>
        <md-button type="button" ng-click="passwordModal.cancel()">abbrechen</md-button>
        <md-button class="md-accent" ng-disabled="!passwordModal.changeForm.$valid" type="submit" ng-click="passwordModal.submit()">absenden</md-button>
    </md-dialog-actions>

</md-dialog>>
